$primary-bg: #FFF8EB;
$card-bg: #FFEDD5;
$highlight-color: #FFB74D;
$icon-color: #FF8C00;
$primary-color: #4d4b4b;
/* Bright green */
$secondary-color: #ffffff;
$accent-color: #524e48;
/* Amber */
$background-color: #f9f9f9;
$text-color: #350101;
.maintenance-plans {
  // background-color: $primary-bg;
  font-family: 'Poppins', sans-serif;
  color: #333;
  padding: 2rem;
margin-top: 6rem;
  .header {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 2.5rem;
      color: $icon-color;
      animation: fadeInDown 1s ease-in-out;
    }

    p {
      font-size: 1.2rem;
      color: #555;
    }
  }

  .features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
gap: 25px;
    .feature-card {
      background-color: $card-bg;
      padding: 1.5rem;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      .icon {
        font-size: 2.5rem;
        color: $icon-color;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
        color: #555;
      }
    }
  }

  .plans {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      color: $icon-color;
      margin-bottom: 1rem;
    }

    .plan-cards {
      display: flex;
      justify-content: space-around;

      .plan-card {
        background-color: $card-bg;
        padding: 1.5rem;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.9s ease, background-color 0.9s ease;

        &:hover {
          transform: translateY(-10px);
          background-color: lighten($card-bg, 10%);
        }

        &.popular {
          border: 2px solid $highlight-color;
        }

        h3 {
          font-size: 1.5rem;
          color: $highlight-color;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          margin: 0.5rem 0;
        }

        .price {
          font-size: 1.8rem;
          font-weight: bold;
          color: $icon-color;
          margin-bottom: 1rem;
        }

        button {
          background-color: $icon-color;
          color: white;
          border: none;
          padding: 0.8rem 1.5rem;
          border-radius: 5px;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken($icon-color, 10%);
          }
        }
      }
    }
  }

  .signup {
    text-align: center;
    margin-top: 2rem;

    h2 {
      font-size: 1.8rem;
      color: $icon-color;
    }

    p {
      font-size: 1.2rem;
      margin: 1rem 0;
    }

    button {
      background-color: $highlight-color;
      color: white;
      border: none;
      padding: 0.8rem 1.5rem;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($highlight-color, 10%);
      }
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


.pricing-breakdown {
  margin-block: 4rem;

  h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  .services-grid {
    display: flex;
    gap: 10px;
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    /* Aligns the grid items horizontally */
    align-content: center;

    .service-card {
      background-color: $secondary-color;
      max-width: 350px;
      text-align: center;
      border-radius: 8px;
      border: 1px solid #f0c274;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      background-color: #fff3df;
      >p{
        margin: .2rem;
      }
>div{
  display: flex;
  gap: 10px;
  margin: 10px;
}
      img {
        overflow: hidden;
        object-fit: cover;
        height: 200px;
        width: 100%;
      }

      .flex {
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;

        .icon {
          width: 20px !important;
          height: 20px !important;
        }
      }

      &:hover {
        transform: translateY(-5px);
      }

      .icon {
        font-size: 2rem;
        color: $accent-color;
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        color: $primary-color;

      }

      p {
        font-size: 1rem;
        color: $text-color;
      }
    }
  }
}

.pricing-packages {
  margin: 5rem 0;
margin-bottom: 8rem;
  h2 {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin: 2.5rem;
  }

  .package-grid {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    max-width: 1080px;
    margin: auto;

    .package-card {
      background-color: $secondary-color;
      text-align: center;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      border: 1px solid rgb(201, 201, 201);
      border-top: 1px solid transparent;
      border-top-color: rgb(201, 201, 201);
      width: 330px;
      box-shadow: 1px 1px 8px grey;

      img {
        width: 80px;
        height: 80px;
      }
      .basicImage, .premImage{
        width: 90px;
        height: 90px;
      }
      

      >div {
        margin: 10px;
      }

      button {
        padding: 5px 40px;
        border: 1px solid rgb(197, 196, 196);
        margin-bottom: 20px;
        color: white;
        font-weight: 700;
        background-color: #FF7F45;
        border-radius: 30px;
      }

      .features {
        display: flex;
        gap: 10px;
        padding: 3px 10px;
        text-align: start;
      }

      &:hover {
        transform: translateY(-5px);
        border-bottom: 5px solid $primary-color;
        border-bottom-color: rgb(82, 80, 80);
      }

      .Basic {
        background-color: #ca5172;

        &:hover {
          transform: translateY(-5px);
        }
      }

      .Advance {
        background-color: #307AAB;
      }

      .premium {
        background-color: #53BBB4;
      }

      h3 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        color: $accent-color;
        font-weight: 500;
        letter-spacing: 1px;
        color: white;
        padding: 10px;
      }

      p {
        font-size: 1rem;
        color: $text-color;
        margin: 1rem 0;
      }

      .price {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 2rem;
        span{
          font-size: 20px;
        }
      }

      &.highlighted {
        background-color: rgb(243, 243, 252);
        border-top-color: lighten(black, 5%);
      }
    }
  }
}
