.services-banner{
    width: 100%;
    background: url(../../assets/BannerImage2.png), rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
// background-size: cover;
    background-position: center;
    position: relative;
}
.services-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Black overlay */
    backdrop-filter: blur(5px); /* Adds blur to the overlay */
    z-index: 1;
    pointer-events: none; 
  }
  .services-form{
        position: relative;
        z-index: 2; /* Ensures the content is above the blur effect */
  }

  .services-form{
  }
.services-form .form-box{
    background-color: #f0f0eb;
    border: 2px solid #dfd368;
    padding: 30px 70px;
    height: auto;
     border-radius: 10px;
    box-shadow: inset 2px 2px 10px rgb(163 162 158), inset -1px -1px 5px rgba(167, 163, 163, 0.6);
}
.services-form label{
    font-size: 1rem;
}
.services-form h2{
    text-align: center;
    color: rgb(230, 230, 230);
}
.services-form h3{
    color: #4b4a49;
    // box-shadow: inset 0 0 10px 2px #F9AC25 ;
    padding: 5px;
    text-transform: uppercase;
    // border-bottom: 1px solid #F9AC25;
}
.services-form h4{
    color: #4b4a49;
}
.form-check{
    border-top: ipx solid grey;
}