.addressPanel{
    padding: 1rem;
    h4{
        font-weight: 600;
    }
    .addressList{
    padding:2rem 3rem;
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        p{
            margin: 0;
            font-size: .9rem;
        }
        .buttonList{
        display: flex;
        align-items: center;
        gap: 1rem;
        button{
            // height: 2rem;
            border: none;
            padding: .2rem 1rem ;
            color: white;
        text-align: end;
        background:linear-gradient(to right, rgb(163, 54, 46) , #EA4824);
            border-radius: 1rem;
        }
        }
    }

    .newAddress{
        text-align: end;
        margin-top: 3.2rem;
        .newAddressBtn{
            padding: 0.5rem 2rem;
            border: none;
            background:linear-gradient(to right, rgb(189, 54, 44) , #f75a36);
           color: white;
        }
    }
}



    :where(.css-dev-only-do-not-override-1c0na6j).ant-drawer .ant-drawer-header{
    border: 1px solid black;



}
:where(.css-dev-only-do-not-override-1c0na6j).ant-drawer .ant-drawer-header{
background:linear-gradient(to right, rgb(163, 54, 46) , #EA4824);
border: 1px solid black;

}

:where(.css-dev-only-do-not-override-1c0na6j).ant-form-item .ant-form-item-label >label{
    border: 11px solid rgb(146, 15, 37);
    font-size: 28px  !important;
    }

    :where(.css-dev-only-do-not-override-1c0na6j).ant-input-outlined {
        border-color:rgb(189, 54, 44) !important;
    }
    .drawerHeaders{
        
    }
.columns{
label{
        font-size: 18px  !important;
   text-align: center !important;
   font-weight: 600;
        }
    input{
        border-color:rgb(189, 54, 44) !important;
        height: 42px;
        border-radius: 0px !important;
    }
}
.cancelButton{
    margin: 3px;
    margin-top: 20px;
    width: 150px;
    height: 43px !important;
}
.submitButton{
    background:linear-gradient(to right, rgb(163, 54, 46) , #EA4824);
    border-radius: none;
    margin: 3px;
    margin-top: 20px;
    width: 150px;
    height: 43px !important;
    &:hover{
        background: transparent !important;
        color: black  !important;
        border: 2px solid  black;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(to right, rgb(163, 54, 46) , #EA4824);
        border-radius: 20px !important;
    }
}


