



.confirmDetails{
    box-shadow: inset 2px 2px 10px rgb(49, 49, 47), inset -1px -1px 5px rgba(26, 25, 25, 0.6);
    border-radius: 10px;
    border-color: 1px solid grey;
    padding: 1rem;
    background-color: rgb(193 171 130) !important;
h3{
    font-size: 1.6rem;
    font-weight: 700;
    color: #5d3502;
}
h5{
    font-size: 1.4rem;
}
h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: #5d3502;
}
    p{
        color: rgb(0 0 0);
        font-size: 18px;
        font-weight: 500;
        zoom: .9;
    }
}


 .learn-more, .desc{
    margin: 1rem 0rem;
    padding: 1rem;
    background-color: #fff9ed !important;
    h5{
        font-size: 1.6rem;
        font-weight: 700;
        color: #5d3502;
    }
    p{
        color: rgb(0 0 0) !important;
        font-size: 16px;
        font-weight: 600;
    }
}
.ProfileDetails, .rate{
    margin: 2rem 0rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    background-color: #fff9ed !important;
}
.rate, .timeLocation{
    margin: 3rem 2rem !important;
}
.confirmForm{
    margin: 4rem 0rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    background-color: #fff9ed !important;
}

.paymentMethod{
    padding: 1rem;

    h5{
        font-size: 1.8rem;
        font-weight: 700;
        color: #5d3502;
    }
   
}
 .confirmDetails button {
          border: none;
    border-radius: .6rem;
    color: rgb(255 255 255) !important;
    background-color: #5f3e04;
    padding: .3rem 5rem;
    }
  
@media (max-width:978px){
    .confirmDetails, .cardNumber{
flex-direction: column;
gap: .2rem;
    }
    .cardNumber{
        flex-direction: column;
gap: 2rem;
align-items: end;
    }
   
    .confirmDetails input[type=range]{
        width: 160px;
    }
    .rangeValues{
        width: fit-content;
        padding: 10px 0px;
    }
   
}